.step-title {
  margin-bottom: 10px;
}

.attributes-wrapper {
  display: flex;
  justify-content: flex-start;
}

.attributes-column {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
